extends ../layouts/default

block intro
	section.pad
	
block content
	.container: .jumbotron
		// p The MLS number you entered is: #{data.MLS}
		section#banner
			if selectionMade
				header
					h2
						| Model Template #{formData.selection}
					p
						| Click Image for Preview
				if formData.selection == 1
					a.image.featured(href='previews/website1/web.html', target='_blank')
						img(src='images/preview_lg/preview1.jpg', alt='')
				else if formData.selection == 2
					a.image.featured(href='previews/website2/web.html', target='_blank')
						img(src='images/preview_lg/preview2.jpg', alt='')
				else if formData.selection == 3
					a.image.featured(href='previews/website3/web.html', target='_blank')
						img(src='images/preview_lg/preview3.jpg', alt='')
				else
					a.image.featured(href='previews/website4/web.html', target='_blank')
						img(src='images/preview_lg/preview4.jpg', alt='')
				p 
					| $9.99
				p Are you sure you want to purchase this?
				form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
					input(type='hidden', name='cmd', value='_s-xclick')
					input(type='hidden', name='hosted_button_id', value='NKS692Y7T5C5C')
					input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
					img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

				form(method='post')
					input(type='hidden', name='back', value='1')
					button(type='submit', id='backToSelection') Back to Selection
				form(method='post' action='/download')
					input(type='hidden', name='selection', value=formData.selection)
					button(type='submit') Skip Payment (for testing)
			else
				header
					p
						| Congratulations! The MLS# you entered is valid!
					p
						| You may now choose a template for your website
				p 
				div(class='wrapper style2' id='about')
					form(method='post' id='imgSelect')
						hr
						header
							h2
								| Template One
							p
								| Insert Shit Here
						article#main.container.special
							input(type='image', name='selection', value='1', src='images/preview_lg/preview1.jpg', class='one', alt='Image cannot be displayed')

						hr
						header
							h2
								| Template Two
							p
								| Insert Shit Here
						article#main.container.special
							input(type='image', name='selection', value='2', src='images/preview_lg/preview2.jpg', class='two', alt='Image cannot be displayed')
						hr
						header
							h2
								| Template Three
							p
								| Insert Shit Here
						article#main.container.special
							input(type='image', name='selection', value='3', src='images/preview_lg/preview3.jpg', class='three', alt='Image cannot be displayed')
						hr
						header
							h2
								| Template Four
							p
								| Insert Shit Here
						article#main.container.special
							input(type='image', name='selection', value='4', src='images/preview_lg/preview4.jpg', class='four', alt='Image cannot be displayed')
						hr